<div class="center">
 <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
       <form>
           <mat-form-field >
               <input matInput placeholder="email" >
           </mat-form-field>
            <mat-form-field >
               <input matInput placeholder="password" type="password" >
           </mat-form-field>
         <div class="button">
           <button mat-raised-button  type="submit"  routerLink = "/home" > Login </button>
         <button mat-raised-button type="submit" routerLink = "/register"> Register</button>  
        </div>
        </form>
    </mat-card-content>
</mat-card>
</div>
