<mat-card class="example-card">
    <div class="row">
        <mat-card-header>
            <mat-card-title>Tiger</mat-card-title>
            <mat-card-subtitle>Dog</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="dog">
        <mat-card-actions>
            <div class="space">
                <button mat-button>add</button>
                <button mat-button>cart</button>
            </div>
        </mat-card-actions>
    </div>
    <div class="row">
        <mat-card-header>
            <mat-card-title>Pixel</mat-card-title>
            <mat-card-subtitle>Mobile</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images.jpeg" alt="mobile">
        <mat-card-actions>
            <div class="space">
                <button mat-button>add</button>
                <button mat-button>cart</button>
            </div>
        </mat-card-actions>
    </div>
    <div class="row">
        <mat-card-header>
            <mat-card-title>Burger</mat-card-title>
            <mat-card-subtitle>Food</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/istockphoto-1125149183-612x612.jpg" alt="Burger">
        <mat-card-actions>
            <div class="space">
                <button mat-button>add</button>
                <button mat-button>cart</button>
            </div>
        </mat-card-actions>
    </div>
</mat-card>