// * {
//     box-sizing: border-box;
// }
.example-card {
    // float: left;
     
     display: flex;
     width: 100px;
     height: 100px;
     

     
}
.space {
    display: flex;
   justify-content: center;
   
}
// .row {
//     // flex: 1 1 auto;
//     // display: inline;
// }
