<div class="center">
    <mat-card>
        <mat-card-title> Register </mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field> <input matInput placeholder="username" /> </mat-form-field>
                <mat-form-field> <input matInput placeholder="mobile number" type="number" /></mat-form-field>
                <mat-form-field> <input matInput placeholder="email" type="email" /></mat-form-field>
                <mat-form-field> <input matInput placeholder="password" type="password" /></mat-form-field>
                <button mat-raised-button routerLink="/">Register</button>
            </form>
        </mat-card-content>
    </mat-card>

</div>